
{% extends "layouts/page.html.j2" %}

{% set title = "Home" %}
{% set scripts = ['fetch-levels.mjs'] %}

{% block content %}
    <img
        src="{{ url_for('static', filename='totally.png') }}"
        alt="totally a VIDEOGAME"
        height="225"
        class="logo"
    >
    
    {% if session.user_id %}
        <a href="{{ url_for('userpage') }}">Create levels</a>
    {% endif %}

    <h2>Play Levels</h2>

    <div id="levels-list" class="levels-list">
        <p>Loading levels...</p>
    </div>
{% endblock %}
