
{% extends "layouts/page.html.j2" %}

{% set title = "Play level (" ~ level_id ~ ")" %}

{% block content %}
    <a href="{{ url_for('index') }}">Back to home</a>

    <canvas width="704" height="704" style="background: #aaa;"></canvas>

    <script type="module">
        import { loadLevelByID } from "{{ url_for('static', filename='engine.mjs') }}";

        const canvas = document.querySelector('canvas');
        loadLevelByID(canvas, '{{ level_id }}');
    </script>
{% endblock %}
