
.login {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

article.level {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
article.level p {
    margin: 0;
}
article.level .name {
    font-weight: bold;
}

div.row {
    display: flex;
    flex-direction: row;
}
div.column {
    display: flex;
    flex-direction: column;
}
