
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

p {
    margin: 0;
}

.hidden {
    display: none;
}

div.levels-list {
    width: clamp(40ch, 70ch, 60vw);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
}

.login {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

article.level {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
article.level p {
    margin: 0;
}
article.level .name {
    font-weight: bold;
}

div.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: .5rem;
}
div.column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}
