
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(#aac, #aca);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    font-family: 'Poppins', sans-serif;
}

p {
    margin: 0;
}
p.center {
    text-align: center;
}
p.none-found {
    width: fit-content;
    text-align: center;
    align-self: center;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border: .1rem rgba(255, 255, 255, 0.8) solid;
}

img.logo {
    animation: logo-animation 1s infinite alternate, rainbow 7s infinite alternate;
}
@keyframes logo-animation {
    0% {
        transform: scale(90%, 80%) rotate(-2deg);
        filter: hue-rotate(-90deg);
    }
    50% {
        transform: scale(100%) rotate(0deg);
    }
    100% {
        transform: scale(100%, 102%);
    }
}
@keyframes rainbow {
    0% {
        filter: hue-rotate(180deg);
    }
    33% {
        filter: hue-rotate(0deg);
    }
    66% {
        filter: hue-rotate(-180deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}

a {
    border-radius: .25rem;
    border: #444 .1rem solid;
    background: linear-gradient(rgb(241, 243, 131), rgb(207, 158, 117));
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
a:hover {
    background: linear-gradient(rgb(131, 183, 243), rgb(182, 117, 207));
    cursor: pointer;
}

input {
    border-radius: .25rem;
    border: #444 .1rem solid;
    background: linear-gradient(rgb(204, 204, 189), rgb(175, 170, 166));
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
}
input:focus {
    border: #423509 .1rem solid;
    background: linear-gradient(rgb(192, 192, 122), rgb(175, 144, 121));
    outline: none;
}
input:disabled {
    color: #666;
    border-color: #888;
}

.hidden {
    display: none;
}

div.levels-list {
    width: clamp(40ch, 60ch, 60vw);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: .5rem;
}

.login {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.5);
    border: #444 .1rem solid;
    border-radius: .5rem;
    padding: .75rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
}

article.level {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.5);
    border: #444 .1rem solid;
    border-radius: .5rem;
    padding: .75rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
article.level p {
    margin: 0;
}
article.level .name {
    font-weight: bold;
}

div.row {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: .5rem;
}
div.column {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}
